{% extends './layout.html' %}

{% block titulo %}
Archivos Académicos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block body %}
{% include "partials/modal_image.html" %}
{% include "partials/flash.html" %}
<h1>Archivos Académicos</h1>
<div class="container pt-4">
    <div class="row">
        <div class="row">

            <div class="">
                <main class="form-signin w-100 m-auto">
                    <form action="/create_academic_file" method="POST" enctype="multipart/form-data">
                        <h1 class="h3 mb-3 fw-normal">Nuevo archivo académico</h1>
                        <div class="form-floating">
                            <!-- <input type="text" class="form-control" id="form_academic_file_teacher_id" name="teacher_id" placeholder="Profesor"> -->
                            <select class="form-select" name="teacher_id" aria-label="Profesor">
                                <option value="">Seleccionar profesor</option>
                                {% for teacher in data.all_teachers %}
                                <option value="{{ teacher['id'] }}">{{ teacher['name'] }} ({{ teacher['email'] }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control"  name="name" placeholder="Título">
                            <label for="floatingInput">Título</label>
                        </div>
                        <img src="" class="d-none" alt="Preview" width="200px" height="200px">
                        <div class="form-floating">
                            <!-- ALLOWED_EXTENSIONS = {'png', 'jpg', 'jpeg', 'gif', 'mp4', 'docx', 'pdf', 'txt', 'xlsx', 'pptx', 'zip', 'rar'} -->
                            <input type="file" class="form-control" name="content" placeholder="Contenido" accept="image/*,.png,.jpg,.jpeg,.gif,.mp4,.docx,.pdf,.txt,.xlsx,.pptx,.zip,.rar">
                            <label for="floatingInput">Contenido</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Guardar Cambios</button>
                    </form>
                </main>
            </div>


            <!-- TODO Mejorar visualización de los archivos -->
            <div class="col-md-8" style="display: none;">
                <h2>Mis Archivos Académicos</h2>
                <table class="table table-striped">
                    <thead>
                        <td>Profesor</td>
                        <td>Título</td>
                        <td>Contenido</td>
                        <td>Creado</td>
                        <td>Actualizado</td>
                        <td>Acciones</td>
                    </thead>
                    <tbody>
                    {% if data.academic_files %}
                        {% for academic_file in data.academic_files %}
                        <tr>
                            <!-- id oculto -->
                            <span id="tabla_teacher_id{{academic_file['id']}}" class="d-none">{{ academic_file['teacher_id'] }}</span>
                            <td id="tabla_teacher_name{{academic_file['id']}}"><a href="{{ url_for('profile', id=academic_file['teacher_id']) }}">{{ academic_file['teacher_name'] }}</a></td>
                            <td id="tabla_name{{academic_file['id']}}">{{ academic_file['name'] }}</td>
                            <td id="tabla_content{{academic_file['id']}}">
                                {% if academic_file['content'] %}
                                    {% if academic_file['content'].endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
                                        <img class="cursor-pointer" src="{{ url_for( 'static', filename='uploads/' + academic_file['content'] ) }}" alt="Imagen: {{ academic_file['name'] }}" width="125px" height="125px" onclick="OpenModalImage('tabla_img{{ academic_file["id"] }}')" id="tabla_img{{ academic_file['id'] }}">
                                    {% else %}
                                        <a href="{{ url_for( 'static', filename='uploads/' + academic_file['content'] ) }}" download>Descargar: {{ academic_file['name'] }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td id="tabla_created_at{{academic_file['id']}}">{{ academic_file['created_at'].strftime("%Y-%m-%d %H:%M:%S") if academic_file['created_at'] else "No especificado" }}</td>
                            <td id="tabla_updated_at{{academic_file['id']}}">{{ academic_file['updated_at'].strftime("%Y-%m-%d %H:%M:%S") if academic_file['updated_at'] else "No especificado" }}</td>
                            <td>
                                {% if current_user.id == academic_file['user_id'] %}
                                    <a class="btn btn-secondary btn-sm" onclick="editAcademicFile('{{ academic_file["id"] }}')">Editar</a>
                                {% endif %}
                                <!-- Solo puede borrar publicaciones si es profesor o es el autor -->
                                {% if current_user.type_user == "teacher" or current_user.id == academic_file['user_id'] %}
                                    <a class="btn btn-danger btn-delete btn-sm" href="/eliminar_academic_file/{{academic_file['id']}}">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">No hay archivos académicos</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>


            {% if data.academic_files %}
                {% for academic_file in data.academic_files %}

                <div class="card my-4">
                    <!-- Card header START -->
                    <div class="card-header border-0 pb-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="d-flex justify-content-center align-items-center me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-postcard avatar-img" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z"/>
                                    </svg>
                                </div>
                                <!-- Info -->
                                <div>
                                    <div class="nav nav-divider">
                                        <h6 class="nav-item card-title mb-0"> <a href="{{ url_for('profile', id=academic_file['teacher_id']) }}"> {{ academic_file['teacher_name'] }} </a></h6>
                                        <span class="nav-item small"> {{ academic_file['created_at'].strftime("%Y-%m-%d %H:%M:%S") if academic_file['created_at'] else "No especificado" }} </span>
                                    </div>
                                    <p class="mb-0 small">{{ "Profesor" if academic_file['type_user'] == "teacher" else "Estudiante" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body">
                        <p>{{ academic_file['name'] }}</p>
                        <!-- Card img -->
                        {% if academic_file['content'] %}
                            {% if academic_file['content'].endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
                                <img class="cursor-pointer" src="{{ url_for( 'static', filename='uploads/' + academic_file['content'] ) }}" alt="Imagen: {{ academic_file['name'] }}" width="512px" height="512px" onclick="OpenModalImage('tabla_img{{ academic_file["id"] }}')" id="tabla_img{{ academic_file['id'] }}">
                            {% else %}
                                <a href="{{ url_for( 'static', filename='uploads/' + academic_file['content'] ) }}" download>Descargar: {{ academic_file['name'] }}</a>
                            {% endif %}
                        {% endif %}
                        <!-- Feed react START -->
                        <ul class="nav nav-stack py-3 small">
                            <li class="nav-item me-3">
                                {% if current_user.id == academic_file['user_id'] %}
                                    <a class="btn btn-secondary btn-sm" onclick="editAcademicFile('{{ academic_file["id"] }}')" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editar</a>
                                {% endif %}
                            </li>
                            <li class="nav-item me-3">
                                    <!-- Solo puede borrar publicaciones si es profesor o es el autor -->
                                    {% if current_user.type_user == "teacher" or current_user.id == academic_file['user_id'] %}
                                    <a class="btn btn-danger btn-delete btn-sm" href="/eliminar_academic_file/{{academic_file['id']}}">Eliminar</a>
                                {% endif %}
                            </li>
                        </ul>
                        <!-- Feed react END -->
                    </div>
                    <!-- Card body END -->
                </div>

                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No hay publicaciones</td>
                </tr>
            {% endif %}


        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade pt-2" style="z-index: 20;" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Actualizar publicación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="">
                <main class="form-signin w-100 m-auto">
                    <form action="/create_academic_file" method="POST" id="formulario" enctype="multipart/form-data">
                        <h1 class="h3 mb-3 fw-normal">Nuevo archivo académico</h1>
                        <div class="form-floating">
                            <!-- <input type="text" class="form-control" id="form_academic_file_teacher_id" name="teacher_id" placeholder="Profesor"> -->
                            <select class="form-select" id="form_academic_file_teacher_id" name="teacher_id" aria-label="Profesor">
                                <option value="">Seleccionar profesor</option>
                                {% for teacher in data.all_teachers %}
                                <option value="{{ teacher['id'] }}">{{ teacher['name'] }} ({{ teacher['email'] }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="form_academic_file_name" name="name" placeholder="Título">
                            <label for="floatingInput">Título</label>
                        </div>
                        <img id="form_academic_file_content_image" src="" class="d-none" id="preview" alt="Preview" width="200px" height="200px">
                        <div class="form-floating">
                            <!-- ALLOWED_EXTENSIONS = {'png', 'jpg', 'jpeg', 'gif', 'mp4', 'docx', 'pdf', 'txt', 'xlsx', 'pptx', 'zip', 'rar'} -->
                            <input type="file" class="form-control" id="form_academic_file_content" name="content" placeholder="Contenido" accept="image/*,.png,.jpg,.jpeg,.gif,.mp4,.docx,.pdf,.txt,.xlsx,.pptx,.zip,.rar">
                            <label for="floatingInput">Contenido</label>
                        </div>
                        <button id="btn" class="w-100 btn btn-lg btn-primary" type="submit">Guardar Cambios</button>
                    </form>
                </main>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/academic_files.js') }}"></script>
{% endblock %}