{% extends './layout.html' %}

{% block titulo %}Home{% endblock %}

{% block body %}
{% include "partials/flash.html" %}
<h1>Muro</h1>
<div class="container pt-4">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <main class="form-signin w-100 m-auto">
                    <form action="/create_post" method="POST" id="formulario" enctype="multipart/form-data">
                        <h1 class="h3 mb-3 fw-normal">Nueva publicación</h1>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="form_post_description" name="description" placeholder="Descripción">
                            <label for="floatingInput">Descripción</label>
                        </div>
                        <img id="form_post_content_image" src="" class="d-none" id="preview" alt="Preview" width="200px" height="200px">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="form_post_content" name="content" placeholder="Contenido" accept=".jpg .jpeg .png .gif .mp4">
                            <label for="floatingInput">Contenido</label>
                        </div>

                        <button id="btn" class="w-100 btn btn-lg btn-primary" type="submit">Publicar</button>
                    </form>
                </main>
            </div>

            <div class="col-md-8">
                <h2>Publicaciones</h2>
                <table class="table table-striped">
                    <thead>
                        <td>Creador</td>
                        <td>Descripción</td>
                        <td>Contenido</td>
                        <td>Opciones</td>
                    </thead>
                    <tbody>
                    {% if data.posts %}
                        {% for post in data.posts %}
                        <tr>
                            <td id="tabla_user_id{{post['id']}}"><a href="{{ url_for('profile', id=post['user_id']) }}">{{ post['user_name'] }}</a></td>
                            <td id="tabla_description{{post['id']}}">{{ post['description'] }}</td>
                            <td id="tabla_content{{post['id']}}">
                                {% if post['content'] %}
                                <img src="{{ url_for( 'static', filename='uploads/' + post['content'] ) }}" alt="Imagen" width="125px" height="125px">
                                {% endif %}
                            </td>
                            <td>
                                {% if current_user.id == post['user_id'] %}
                                <a class="btn btn-secondary btn-sm" onclick="editPost('{{ post["id"] }}')">Editar</a>
                                {% endif %}
                                <!-- Solo puede borrar publicaciones si es profesor o es el autor -->
                                {% if current_user.type_user == "teacher" or current_user.id == post['user_id'] %}
                                    <a class="btn btn-danger btn-delete btn-sm" href="/eliminar_post/{{post['id']}}">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No hay publicaciones</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/home.js')}}"></script>
{% endblock %}