{% extends './layout.html' %}

{% block titulo %}{{ data.user.name }}{% endblock %}

{% block body %}
<h1>Perfil de {{ data.user.name }}</h1>
<div class="container pt-4">
    <div class="row">
        <div class="row">
            {% if data.is_my_profile %}
                <div class="col-md-4">
                    <main class="form-signin w-100 m-auto">
                        <form action="/editar_user/{{current_user.id}}" method="POST" id="formulario">
                            <h1 class="h3 mb-3 fw-normal">Mis Datos</h1>
                            {% include "partials/flash.html" %}
                            <div class="form-floating">
                                    <input type="text" class="form-control" name="name" placeholder="name" value="{{ current_user.name }}">
                                    <label for="floatingInput">Nombre</label>
                            </div>
                            <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" value="{{ current_user.email }}">
                                    <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña">
                                    <label for="floatingPassword">Contraseña</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" name="type_user" aria-label="Tipo de usuario">
                                    <option value="">Seleccionar</option>
                                    <option value="student" {% if current_user.type_user == 'student' %}selected{% endif %}>Estudiante</option>
                                    <option value="teacher" {% if current_user.type_user == 'teacher' %}selected{% endif %}>Profesor</option>
                                </select>
                                <label for="floatingSelect">Tipo de usuario</label>
                            </div>
                            <button id="btn" class="w-100 btn btn-lg btn-primary" type="submit">Guardar Cambios</button>
                        </form>
                    </main>
                </div>
            {% endif %}
            

            <!-- TODO Mejorar visualizacion de las publicaciones -->
            {% if data.is_my_profile %}
            <div class="col-md-8">
                <h2>Mis Publicaciones</h2>
            {% else %}
            <div class="col-md-12">
                <h2>Publicaciones de {{ data.user.name }}</h2>
            {% endif %}
                <table class="table table-striped">
                    <thead>
                        <td>Creador</td>
                        <td>Descripción</td>
                        <td>Contenido</td>
                        <td>Opciones</td>
                    </thead>
                    <tbody>
                        {% for post in data.posts %}
                        <tr>
                            <td id="tabla_user_id{{post[0]}}"><a href="{{ url_for('profile', id=post[1]) }}">{{ post[6] }}</a></td>
                            <td id="tabla_description{{post[0]}}">{{ post[2] }}</td>
                            <td id="tabla_content{{post[0]}}">
                                {% if post[3] %}
                                <img src="{{ url_for( 'static', filename='uploads/' + post[3] ) }}" alt="Imagen" width="125px" height="125px">
                                {% endif %}
                            </td>
                            <td>
                                {% if current_user.id == post[1] %}
                                <a class="btn btn-secondary btn-sm" onclick="obtenerDatos('{{post[0]}}')">Editar</a>
                                {% endif %}
                                <!-- Solo puede borrar publicaciones si es profesor o es el autor -->
                                {% if current_user.type_user == "teacher" or current_user.id == post[1] %}
                                    <a class="btn btn-danger btn-delete btn-sm" href="/eliminar_post/{{post[0]}}">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}